:root {
    --font: "Inter";
    --black: rgb(15, 15, 15);
    --color-card: rgb(168, 207, 58);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-size: 1.6rem;
    font-family: var(--font);

}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

h1 {
    font-size: 2rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (min-width: 194px) {
    ul {
        padding-left: 3rem;
        margin-top: 1rem;
    }
}


a {
    text-decoration: none;
    color: var(--black)
}


@media (min-width: 768px) {
    .main__display {
        display: grid;
        grid-template-columns: 30% 70%;
        
    }
    h1 {
        font-size: 2.5rem;
    }

}


.profile__card {
    background-color: var(--color-card);
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    
}

@media (min-width: 768px) {
    .profile__card { 
        justify-content: space-between;
    }
}

.profile__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.profile__display {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.profile__img {
    border-radius: 50%;
    width: 13rem;       
    height: 12rem;
}


.contact__icon {
    width: 3rem;
}

.contact__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


.contact__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    &:hover {
        transform: scale(1.1);
        color: rgb(58, 58, 58);
    }
}

@media (min-width: 768px) {
    .contact__div {
        flex-direction: row;
    }
}

.contact__text--show {
    display: none;
    
}


@media (min-width: 768px) {
    .contact__section {
        align-items: start;
    }
    .contact__text--show {
        display: inline-block;
        overflow-wrap: anywhere;
        
    }
}

@media (min-width: 255px){
    .contact__text--show {
        display: inline-block;
        
    }
    
}



/* Contenido */
.profile__content {
    padding: 2rem 1.5rem;
}


@media (min-width: 500px) {
      
    .content__skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1000px) {
    
    .content__skills {
        grid-template-columns: repeat(3, 1fr);

    }
}




.skill__icon {
    width: 3rem;
}
.skill__display {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
@media (min-width: 500px) {
    .skill__display {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
}

.skill__list {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}

.skill__text {
    display: none;
}

@media (min-width: 500px) {
    .skill__text {
        display: block;
    }

    .skill__list {
        flex-direction: row;
        justify-content: space-between;
    }
}